/* .aboutushead
{
  text-align: center;
}

.proimage
{
  padding-top: 5%;
  display: flex;
  justify-content: center;
}

.companydetails
{
  text-align: center;
}

.founderinfo
{
    padding-top: 12%;
}

.founderimg
{
    width: 50px;
    height: 50px;
    padding-left: 450px;
}

#newton
{
  width: 500px;
  height: 500px;

}

.foundertext
{
    width: 500px;
    height: 500px;
    padding-left: 1050px;
}

.placeinfo
{
    padding-top: 12%;
}

.mapimg
{
    width: 50px;
    height: 50px;
    padding-left: 1050px;
}

#map
{
  width: 500px;
  height: 500px;

}

.showrooms
{
    width: 500px;
    height: 500px;
    padding-left: 450px;

} */